
.contenedor-logo{
    position: relative;
    display: inline-block;
    width: 25%;
}

.text-logo{
    letter-spacing: 0.2em; 
    text-decoration:none; 
    line-height:1.5em; 
    text-align:center; 
    font-size:24px;
    color:black;
    font-family: Arial,Helvetica,sans-serif;
    position: absolute;
    top: 30px;
    left: 20px;
}
.triangle-logo{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(15deg);
   
}
.megamenu{
    width: 75%;
    float: left;
    padding-left: 15%;
    display: flex;
}
.menu-text{
    
    justify-content: center;
    display: flex;
}

.element{
    width: 200px;
    
}
.element-hiper{
    display: block;
    letter-spacing: 0.2em; 
    text-decoration:none;  
    font-size:12px;
    color:black;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:100;
    padding-left: 5%;
       
}
.a {
    float: left;
    width: 30px;
    padding-left: 45px;
    text-decoration: none;
    color: #a8956a;
}
.b{
    float: left;
    width: 30px;
    padding-left: 35px;
    text-decoration: none;
    color: #a8956a;
}
.img{
    width: 100%;
    float: left;
    display:flex;
    box-sizing:border-box; 
    z-index: 1;
    position:relative;

}
.fotonina{
    padding-top: 2%;
    margin-left: -285px;
    
    

}
.boutique{
    margin-top: 2%;
    padding-top: 2%;
    height: 408px;
    width: 100%;
    background-color: #fbf3bf;
    font-family:cursive;
    
}
.text-1{
    margin-top: 2%;
    padding-top: 2%;
    height: 408px;
    font-family:cursive;  
    position:absolute;
    padding-left: 45%;
    
}

.A{
    width: 50%;
    font-size: 30px;
}
.B{

}

.triang{
position: absolute;
z-index: 1;
height: 200px;
width:200px;
}

.shop{
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
font-size: 20px;
color:#000000;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color: transparent;
border-width: 3px;
border-style:ridge;
border-color: #000000;
}